.button {
    min-height: 42px;
    line-height: 42px;
    background-color: #333;
    cursor: pointer;
    color: white;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    outline: none;
}